body {
	background-color: rgba(107,187,245,0.2);
	margin: 0;
	padding: 0;
}

* {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 12pt;
}

a {
	text-decoration: none;
}
/**********PARALLAX*********/

.parallaxbg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/parallaxbg4.png");
    background-repeat: repeat-y;
    background-size: cover;
    z-index: -1;
}

/***********MENU************/
li {
    list-style: none;
}
 
#menu li a {
    text-decoration: none;
    color: black;
    font-family: mank,verdana,arial;
    font-weight: 800;
}

#menu {
    position: fixed;
    top:0;
    left: 0;
	right:0;
    text-align: center;
    background-color: rgb(107,187,245);
	padding:0;
	margin: 0;
	height: 60px;
	z-index: 10;
}

#menu ul {
	margin-top: 12px;
}

#menu ul li {
    display: inline-block;
    font-size: large;
    list-style: none;
    margin-right: 2%;
    margin-left: 2%;
}

#menu ul li a {
    transition:color .4s;
    display: block;
    padding: 5px;
	color: white;
}

#menu ul li:hover a{
    color: navy;
}

#titre_menu {
    display: none;
}
 
@media all and (max-width: 900px) {
    #menu {
        position: fixed;
        top:0;
        left: 0;
        right: 0;
        text-align: center;
		padding:0;
		margin: 0;
		height: 90px;
    }
 
    #menu #titre_menu {
        display: block;
		font-family: mank,verdana,arial;
		font-weight: 800;
    }
 
    #menu ul {
        display: none;
        padding: 1%;
        list-style:none;
        overflow: hidden;
        opacity: 0;
        width: 100%;
    }
 
    #menu ul li {
		display:block;
        padding: 1%;       
        list-style: none;
        margin-top: 3%;
    }
 
    #menu a, #titre_menu {
        font-size: 4em;
    }
 
    #menu:hover ul,#menu:active ul {
        display: block;
        opacity: 1;
        background-color: rgb(107,187,245);
    }
}

/************END MENU****************/


/**************INDEX*****************/

section {
	margin-top: 50px;
}

#presentation {
	margin-top: 90px;
	margin-left: 0;
	margin-right: 0;
	height: 150px;
	width: 100%;
}

#presentation h1 {
	width: 30%;
	text-align: center;
	margin-left: 35%;
}

#presentation #img_logo_present {
	width: 30%;
	text-align: center;
	margin-left: 35%;
}

#presentation #img_logo_present img{
	width: 50%;
}

#functions {
	margin-top: 150px;
}

article h2 {
	color: navy;
	width: 100%;
}

section article {
	margin-top: 50px;
	width: 60%;
	margin-left: 20%;
}

section article p {
	text-align: justify;
}

.p_presentation {
	display: inline-block;
	width: 31%;
	height: 130px;
	padding-left: 1%;
	padding-right: 1%;
	background-color: rgb(107,187,245);
	border-radius: 5px;
	vertical-align: top;
}

.p_presentation h3 {
	color: rgb(9,68,113);
	text-align: center;
}

article:first-child {
	padding-bottom: 30px;
	border-bottom:1px rgb(107,187,245) solid;
}

article:last-child {
	margin-bottom: 25px;
}


/************END INDEX*************/

/**********MERCHANT SPACE*************/

#merchant_space {
	background-image: url('../images/food_shop.jpg');
	background-size: 100% auto;
	background-position: center center;
	margin-top: 60px;
	width: inherit;
}

.white_bg {
	background-color: rgba(255,255,255,.75);
	padding: 15px;
}

#merchant_space h1 {
	font-size: 2em;
}

#register_connection {
	text-align: center;
	width: 40%;
	margin-left: 30%;
	background-color: rgb(107,187,245);
	border-radius: 5px;
	padding: 15px;
}

#register_connection a {
	transition:all,0.3s;
	display: block;
	margin: 10px;
	background-color: rgba(9,68,113,1);
	padding: 10px;
	border-radius: 5px;
	color: white;
	text-decoration: none;
}

#register_connection a:hover {
	background-color: rgba(9,68,113,0.6);
}

/********END MERCHANT SPACE*******/

/*********CONTACT*************/

